/* colors
#08100e
#339e81
#a34134
#266e9f
#b3b569
#34665c
#143126
#122a5a
#5d251f
#229c39

 */

html {
    background-color: #000c0a;
    height: 100%;
}

body {
    background-image: url("../Images/retrobackground.png");
    background-repeat: repeat-;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
}

.moviePoster {
    width: 400px;
    height: 600px;
}

.faresPoster {
    width: 300px;
    height: 250px;
}

.creditBackground {
    width: 300px;
    height: 250px;
}