@font-face {
    font-family: guru;
    src: url("../Fonts/GuruMeditationNbp-GynZ.ttf");
}

@font-face {
    font-family: bodacious;
    src: url("../Fonts/BodaciousDemibold-0ng9.ttf");
}

@font-face {
    font-family: data;
    src: url("../Fonts/WithheldData-wVKz.ttf");
}

.dataButton {
    font-family: data !important;
    font-size: 45px;
    color: cornsilk;
}

.textFont {
    font-family: guru !important;
    font-size: 37px;
    color: burlywood;
}