@font-face {
    font-family: guru;
    src: url("../Fonts/GuruMeditationNbp-GynZ.ttf");
}

@font-face {
    font-family: bodacious;
    src: url("../Fonts/BodaciousDemibold-0ng9.ttf");
}

@font-face {
    font-family: data;
    src: url("../Fonts/WithheldData-wVKz.ttf");
}

.dataButton {
    font-family: data !important;
    font-size: 45px;
    color: #339e81;
    text-shadow: 2px 1px 14px #34665c;
    transition: .4s;
}

.dataButton:hover {
    color: #266e9f;
    transition: .4s;
    text-shadow: 2px 1px 14px #266e9f;
}

.textFont {
    font-family: guru !important;
    font-size: 37px;
    color: #34665c;
    text-shadow: 2px 1px 14px #b3b569;
}

.textFont2 {
    font-family: guru !important;
    font-size: 37px;
    color: #94afaa;
    text-shadow: 2px 1px 14px #b3b569;
}

.dataText {
    font-family: data !important;
    font-size: 45px;
    color: #339e81;
    text-shadow: 2px 1px 14px #34665c;
    transition: .4s;
}